<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.novamall.user.mapper.UserMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (username, password, nickname, phone, email, status, create_time, update_time)
        VALUES (#{username}, #{password}, #{nickname}, #{phone}, #{email}, #{status}, #{createTime}, #{updateTime})
    </insert>

    <select id="findByUsername" resultType="com.novamall.user.entity.User">
        SELECT * FROM user WHERE username = #{username} LIMIT 1
    </select>

</mapper>